.tool-MarkdownArea {
  display: block;
  cursor: text;
}

.tool-MarkdownArea_Viewer {
  width: 100%;
}

.tool-MarkdownArea_Viewer *:last-child {
  margin-bottom: 0;
}

.tool-MarkdownArea_Viewer *:first-child {
  margin-top: 0;
}

.tool-MarkdownArea_Viewer h1 {
  margin-bottom: 16px;
}
.tool-MarkdownArea_Viewer h1::before {
  content: "# ";
  color: var(--primary);
}

.tool-MarkdownArea_Viewer h2 {
  margin-top: 32px;
  margin-bottom: 16px;
}
.tool-MarkdownArea_Viewer h2::before {
  content: "## ";
  color: var(--primary);
}

.tool-MarkdownArea_Viewer h3 {
  margin-top: 32px;
  margin-bottom: 8px;
}

.tool-MarkdownArea_Viewer h4 {
  margin-bottom: 16px;
}
.tool-MarkdownArea_Viewer h4::before {
  content: "#### ";
  color: var(--primary);
}

.tool-MarkdownArea_Viewer p {
  margin-bottom: 16px;
}

.tool-MarkdownArea_Viewer ul {
  margin-top: 0;
  margin-bottom: 16px;
  padding-left: 32px;
}

.tool-MarkdownArea_Viewer ol {
  margin-top: 0;
  margin-bottom: 16px;
  padding-left: 32px;
}

.tool-MarkdownArea_Viewer table {
  border-collapse: collapse;
  margin-bottom: 16px;
}

.tool-MarkdownArea_Viewer table tr td,
.tool-MarkdownArea_Viewer table tr th {
  border-bottom: 1px solid #e0e0e0;
  padding: 8px 16px;
}

.tool-MarkdownArea_Viewer table tr:nth-child(odd) td {
  background-color: #fbfbfb;
}

.tool-MarkdownArea_Viewer a,
.tool-MarkdownArea_Viewer a:visited {
  color: var(--primary);
}

.tool-MarkdownArea_Editor {
  width: 100%;
  font-family: monospace;
  font-size: 1.3em;
  background-color: rgb(30 41 59);
  color: white;
  color: rgb(248 250 252);
  padding: 12px;
  border-radius: 6px;
}

.tool-Range {
  display: block;
}

.tool-Range_Input {
  width: 100%;
}

.tool-Range_Legend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.tool-Range_LegendMin,
.tool-Range_LegendMax {
  color: var(--gray1);
  font-size: 0.8em;
}

.tool-ScaleTable {
  display: block;
}

.tool-ScaleTable_Table {
  width: 100%;
  border-collapse: collapse;
}

.tool-ScaleTable_Row {
  border-top: 1px solid #e0e0e0;
}

.tool-ScaleTable_Row:nth-child(odd) {
  background-color: #fbfbfb;
}

.tool-ScaleTable_Row-highlight {
  font-weight: 600;
}

.tool-ScaleTable_Header {
  padding: 6px 0;
  font-weight: 600;
}

.tool-ScaleTable_Grade {
  padding: 6px 0;
  text-align: center;
  width: 33%;
  font-weight: 600;
}

.tool-ScaleTable_Percent {
  text-align: center;
  width: 33%;
}

.tool-ScaleTable_Points {
  text-align: center;
  width: 33%;
}

.tool-ScaleGraph {
  display: block;
}

.tool-ScaleGraph_Grades {
  display: flex;
  width: 100%;
}
.tool-ScaleGraph_Grade {
  display: flex;
  font-size: 0.9em;
  padding: 6px 0;
  justify-content: center;
  margin-right: 1px;
}

.tool-ScaleGraph_Buckets {
  display: flex;
  width: 100%;
}

.tool-ScaleGraph_Bucket {
  display: flex;
  font-size: 0.9em;
  justify-content: center;
  margin-right: 1px;
}

.tool-ScaleGraph_Grade-highlight {
  font-weight: 600;
}

.tool-ScaleGraph_Stops {
  display: flex;
  width: 100%;
}

.tool-ScaleGraph_Stop {
  display: flex;
  color: var(--gray1);
  font-size: 0.7em;
  padding: 6px 0;
  justify-content: center;
  margin-right: 1px;
}

/* mobile bar */
@media only screen and (max-width: 800px) {
  .tool-ScaleGraph_Stop {
    display: none;
  }
  .tool-ScaleGraph_Grade:nth-child(2),
  .tool-ScaleGraph_Grade:nth-child(3),
  .tool-ScaleGraph_Grade:nth-child(5),
  .tool-ScaleGraph_Grade:nth-child(6),
  .tool-ScaleGraph_Grade:nth-child(8),
  .tool-ScaleGraph_Grade:nth-child(9),
  .tool-ScaleGraph_Grade:nth-child(11),
  .tool-ScaleGraph_Grade:nth-child(12),
  .tool-ScaleGraph_Grade:nth-child(14),
  .tool-ScaleGraph_Grade:nth-child(15) {
    visibility: collapse;
  }
}
